/* 폰트 ------------------------------*/
@font-face {
  font-family: 'Pleasantly Plump';
  src:url('Font/Pleasantly-Plump.TTF') format('truetype'),
      url('Font/Pleasantly-Plump.woff') format('woff'),
      url('Font/Pleasantly-Plump.svg#Pleasantly-Plump') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* 폰트(끝) ------------------------------ */

/* 노말라이즈 ------------------------*/
body, ul, li, h1, h2, h3 {
  margin:0;
  padding:0;
  list-style:none;
}

a {
  color:inherit;
  text-decoration:none;
}

.container {
  position: relative;
  width: 100vw;
  min-width: 300px;
  margin: 0 auto;
  justify-content: center;
  height:3000px;
}

.viewport {
  width: 100%;
  margin: 0 auto;
}

html {
  scrollbar-width: none; /* safari and chromium */
  overflow-x: hidden; /*firefox*/
  overflow-y: auto;
}

body {
  margin: 0 auto;
  -webkit-user-select: none !important; /*드래그 방지*/
  -moz-user-select: -moz-none !important;
  -ms-user-select: none !important;
  user-select: none !important;
  background-color: #0d0e16;
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* 노말라이즈(끝) ------------------------*/

/* 메인 영역 모든 화면크기 공통 ------------------------*/
.titleText {
  position: relative;
  width: 100vw;
  text-align: center;
  font-family: 'Pleasantly Plump', sans-serif;
  color: #eaecda;
  top: 50vh;
  left: 50%;
}

#mainImg {
  position: relative;
  margin: 0 auto;
  background-image: url('Image/mainImg.png');
  background-size: 100% 100%;
  top: 50vh;
}

#gotoTopButton {
  position:fixed;
  top:100vh;
  left:100vw;
  margin:0 auto;
  background-image: url('Image/toTopButton.png');
  background-size: 100% 100%;
  transform: translate(-120%, -130%);
}

.item{
  background: rgba(255,0,0,0.2);
}

.grid-container{
  position: relative;
  display: grid;
  margin: 0 auto;
}
/* 메인 영역 모든 화면크기 공통(끝) -----------------------------*/

/* 화면 크기 조건부 표현(display: none 등이 사용되는) -----------*/
#top-bar {
  position: fixed;
  top:0px;
  width: 100vw;
  margin: 0 auto;
  background-color: #1b1f2b;
}
/* 화면 크기 조건부 표현(끝) ------------------------------------*/

p {
  margin-top: 0;
  padding: 20px;
  font-size: 70px;
  opacity: .6;
  font-weight: 500;
  line-height: 1.6;
}

/* PC (해상도 1024px)*/ 
@media all and (min-width:1024px) {
  .titleText{
    font-size: 6rem;
    transform: translate(-50%,0px);
  }
  #mainImg{
    width:312px;
    height:171px;
    transform: translateY(-285px);
  }
  #gotoTopButton{
    width: 100px;
    height: 100px;
  }
  .grid-container{ 
    /* 컬럼 74px 12개 */
    /* 거터(=마진) 24px 13개 */
    max-width: 1152px;
    padding-left: 24px;
    padding-right: 24px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; /* 전체 너비 할당 */
    grid-auto-columns: 74px; /* 전체 높이 할당 */
    grid-auto-rows: 74px;
    grid-gap: 24px;
    background: rgba(25,25,255,0.1);
    top: 400px;
  }
}

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/ 
@media all and (min-width:768px) and (max-width:1023px) {
  .titleText{
    font-size: 3.5rem;
    transform: translate(-50%,25px);
  }
  #mainImg{
    width:230px;
    height:130px;
    transform: translateY(-170px);
  }
  #top-bar{
    height: 60px;
  }
  #gotoTopButton{
    width: 80px;
    height: 80px;
  }
  #contentSpace{
    width: 768px;
  }
  #gutterIndicator{
    width: 20px;
  }
  #sideMargin{
    width: 24px;
  }
  .grid-container{ 
    /* 컬럼 95px 6개 */
    /* 거터 20px 5개 */
    /* 마진 25px 양쪽 */
    /* 컨테이너 720px */
    max-width: 670px;
    padding-left: 25px;
    padding-right: 25px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; /* 전체 너비 할당 */
    grid-auto-columns: 95px; /* 전체 높이 할당 */
    grid-auto-rows: 95px;
    grid-gap: 20px;
    background: rgba(25,25,255,0.1);
    top: 500px;
  }
} 

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/ 
@media all and (max-width:767px) {
  .titleText{
    font-size: 2rem;
    top: 14.3rem;
    transform: translate(-50%,25px);
  }
  #mainImg{
    width:168px;
    height:91px;
    top: 128px;
  }
  #top-bar {
    height: 50px;
  }
  #gotoTopButton{
    width: 60px;
    height: 60px;
  }
  #contentSpace{
    max-width: 360px;
    width: 90%;
  }
  #gutterIndicator{
    width: 16px;
  }
  #sideMargin{
    width: 20px;
  }
  .grid-container{ 
    /* 컬럼 68px 4개 */
    /* 거터 16px 3개 */
    /* 마진 20px 양쪽 */
    /* 컨테이너 360px */
    max-width: 320px;
    padding-left: 20px;
    padding-right: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr; /* 전체 너비 할당 */
    grid-auto-columns: 68px; /* 전체 높이 할당 */
    grid-auto-rows: 68px;
    grid-gap: 16px;
    background: rgba(25,25,255,0.1);
    top: 300px;
  }
}